
<!-- 
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12">
      <carousel [interval]="1500" >
          <slide>
            <img src="assets/10.jpg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/6.jpg" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/0.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/5.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/1.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>

  </div>
</div>
</div> -->

